@page "/"

<PageTitle>Todos</PageTitle>

<h1>Todos</h1>

@if (todos is not null)
{
  <div class="input-group mb-3">
    <input type="text" @bind="@description" class="form-control" placeholder="Enter a to-do description">
    <button class="btn btn-outline-success" @onclick="Add">Add</button>
  </div>

  <ul class="list-group">
    @foreach (var todo in todos)
    {
      <li class="list-group-item d-flex align-items-center justify-content-between">
      <div>
        <input id="@todo.Id" type="checkbox" @onchange="@(e => Update(e.Value.ToBool(), todo))" class="form-check-input" checked="@todo.Completed">
        <label for="@todo.Id" class="form-check-label @(todo.Completed ? "completed" : "")">@todo.Description</label>
      </div>
      <input type="button" value="Delete" class="btn btn-outline-danger" @onclick="@(e => Delete(todo))">
    </li>
    }
  </ul>
}

@code {
  string description = string.Empty;
  List<Todo> todos = new() { new Todo {Id = 1, Completed = true, Description = "Buy Beer 2"} };

  void Update(bool completed, Todo todo) => todo.Completed = completed;

  void Delete(Todo todo) => todos.Remove(todo);

  void Add(){
    if(description.Length.Equals(0)) return;
    var id = todos.Count().Equals(0) ? 1 : todos.Max(t => t.Id) + 1;
    var todo = new Todo {Id = id, Description = description};
    todos.Add(todo);
    description = string.Empty;
  }
}
